@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

    --color-background: var(--background);
    --color-background-muted: var(--background-muted);
}

:root {
    --background: #f2f6d0;
    --background-muted: #c1c3ad;

    --foreground: #443627;
}

body.dark {
    --background: #443627;
    --background-muted: #74614c;

    --foreground: #f2f6d0;
}

::selection {
    background: var(--background-muted);
    color: var(--foreground);
}

body {
    @apply transition-colors;

    color: var(--foreground);
    background: var(--background);

    font-family: Lexend, Helvetica, sans-serif;
}

input[type="range"] {
    @apply appearance-none h-4 w-full bg-background-muted rounded-md outline-none;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none cursor-pointer w-3 h-6 rounded-md transition-colors;

    background-color: var(--foreground);
}

input[type="range"]::-moz-range-thumb {
    @apply cursor-pointer w-3 h-6 rounded-md transition-colors;

    background-color: var(--foreground);
}
